/* .container {
    position: relative;
    width: 50%;
} */

.image {
  opacity: 1;
  display: block;
  width: 100%;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.image:hover {
  opacity: 0.3;
}

.image:hover ~ .middle {
  opacity: 1;
}
.middle:hover  {
    opacity: 1;
  }
.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 8px 16px;
}